<div class="modal-header">
  <h4 class="modal-title">Buch verleihen</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <input type="text" class="form-control" [(ngModel)]="studentName" placeholder="Name des Schülers">
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-success" (click)="borrow()">Verleihen</button>
</div>
