table {
  cursor: revert;
  width: 80%;
  min-width: 75em;

  tr:nth-child(2n) {
    background-color: #f5f5f5;

    &:hover {
      background-color: #f5f5f5;
    }
  }

  tr:nth-child(2n - 1) {
    background-color: white;

    &:hover {
      background-color: white;
    }
  }
}

.archived {
  color: red;
}

dd {
  min-height: 1em;
}

dd.overdue {
  color: brown;
  font-weight: 900;
}

button {
  margin-right: 0.5em;
}

.details {

  dl > dt, dd, p {
    margin-bottom: 1em;
  }

  dl > dt {
    padding-right: 0.7em;
  }

  span > dd, dt {
    float: left;
  }
}

.history {
  p {
    margin-top: 2em;
  }

  h2 {
    font-weight: 900;
    font-size: 1.1em;
  }
}

