table {
  cursor: revert;

  tr:nth-child(2n) {
    background-color: #f5f5f5;

    &:hover {
      background-color: #f5f5f5;
    }
  }

  tr:nth-child(2n - 1) {
    background-color: white;

    &:hover {
      background-color: white;
    }
  }
}

.details {

  dl > dt, dd, p {
    margin-bottom: 1em;
  }

  dl > dt {
    padding-right: 10px;
  }

  span > dd, dt {
    float: left;
  }
}

.history {
  p {
    margin-top: 2em;
  }

  h2 {
    font-weight: 900;
    font-size: 1.1em;
  }
}

