


.header {
  background-color: #A7C407;
  height: 70px;
  line-height: 70px;

  p {
    color: white;
    margin-left: 20px;
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
}


.navigation {
  grid-column-start: 1;


  display: grid;

  grid-template-rows: 30px 51px 30px auto;

  height: calc(100vh - 70px);
  background-color: white;
  color: gray;

  .user {

    grid-row-start: 2;
    position: relative;
    left: 30px;
    height: 51px;
    width: 200px;

    div {
      float: left;
    }

    .who {
      margin-left: 10px;

      p {
        font-size: 14px;
        margin-top: 5px;
      }
    }

    .avatar {
      background-color: gray;
      height: 100%;
      width: 51px;
    }
  }

  & > * {
    display: block;
  }

  .spacer {
    position: relative;
    top: 50px;
    margin: 0px 20px 0px 20px;
    background-color: gray;
    height: 1px;
  }

  .section {
    grid-row-start: 4;
    margin-left: 30px;
    width: 70%;
    float: left;
    margin-bottom: 100px;
    position: relative;
    nav {
      padding: 0 0 20px 20px;
      display: inline-block;
      width: 100%;

      &:not(:last-child) {
        border-bottom: 1px solid gray;
        margin-bottom: 20px;
      }

      ul {

        li {
          color: #717171;
          font-weight: bold;
        }

      }
    }
  }
}

.page {
  display: grid;
  grid-template-columns: 260px auto;
}

.content {
  grid-column-start: 2;
  grid-column-end: 2;

  background-color: #ffffff;
  margin: 20px;
  padding: 20px;
}
