.header {
  position: fixed;
  top: 0;
  height: 6vh;
  width:100%;
  background-color: #A7C407;
  z-index: 100;
  display: grid;
  grid-template-columns: 90% 9%;
  grid-column-gap: 0.3rem;
  color: white;
  padding-left: 2.5rem;
  padding-right: 0.3rem;
  line-height: 5.5vh;
  grid-template-rows: 6vh;

  .title {
    grid-column: 1;
    font-size: 3vh;
  }

  .user {
    grid-column: 2;
    align-self: center;
    #account {
      line-height: 1rem;
      float: right;
      p {
        font-size: 1.05em;
        a {
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
          font-weight: 900;
          color: #006fe3;
          margin-left: 0.3rem;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}

.navigation {
  position: fixed;
  width: 11rem;
  height: 94vh;

  margin-top: 6vh;
  background-color: white;
  color: gray;

  & > * {
    display: block;
  }

  .section {
    width: 100%;
    float: left;
    position: relative;

    nav {
      display: inline-block;
      width: 100%;
      line-height: 2.9em;
      background-color: #e3e3e3;

      li {
        text-align: center;
        background-color: #f7f7f7;
        color: #717171;
        font-weight: bold;

        &:hover {
          background-color: #f1f1f1;
          cursor: pointer;
          a {
            font-weight: bold;
          }
        }

        &:not(:last-child) {
          margin-bottom: 0.14em;
        }

        a {
          font-weight: 400;
          color: #006fe3;
        }


      }

      .active {
        a {
          font-weight: bold;
        }
        background-color: #f1f1f1;
      }
    }
  }
}

.page {
  display: grid;
  grid-template-columns: 11rem auto;

}

.content {
  grid-column-start: 2;
  grid-column-end: 2;

  background-color: #ffffff;
  margin: 9vh 2em;
  padding: 1.1em 2.2em;

  border-radius: 0.4rem;
}
