<div class="header">
  <p>
    Digitale Bibliothek der Grundschule auf der Höhe
  </p>
</div>
<div class="page">
  <div class="navigation">
    <div class="user">
      <p>Angemeldet als: </p>
      <p *ngIf="user" style="font-weight: bold;">
        {{user.username}}
        <a (click)="logout()" href="login">(Logout)</a>
      </p>
    </div>

    <div class="section">
      <nav>
        <ul>
          <li routerLinkActive="active" [routerLink]="'/dashboard'"><a>Inventar</a></li>
          <li routerLinkActive="active" [routerLink]="'/personen'"><a>Personen</a></li>
          <li routerLinkActive="active" [routerLink]="'/benutzer'"><a>Benutzer</a></li>
        </ul>
      </nav>
    </div>

  </div>


  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

