.header {
  position: fixed;
  top: 0;
  height: 70px;
  width:100%;
  background-color: #A7C407;
  z-index: 100;
  display: grid;
  grid-template-columns: auto 170px 20px;
  grid-column-gap: 10px;
  color: white;

  .title {
    grid-column: 1;
    font-size: 25px;
    line-height: 70px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
  }

  .user {
    grid-column: 2;
    align-self: end;
    float: right;
    height: 51px;
    width: 200px;
    p {
      font-size: 1.05em;
      a {
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
        font-weight: 900;
        color: #006fe3;
        margin-left: 10px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

.navigation {
  position: fixed;
  width: 240px;
  height: calc(100vh - 70px);

  margin-top: 70px;
  background-color: white;
  color: gray;

  & > * {
    display: block;
  }

  .section {
    width: 100%;
    float: left;
    margin-bottom: 100px;
    position: relative;

    nav {
      display: inline-block;
      width: 100%;
      line-height: 2.9em;
      background-color: #e3e3e3;

      li {
        text-align: center;
        background-color: #f7f7f7;
        color: #717171;
        font-weight: bold;

        &:hover {
          background-color: #f1f1f1;
          cursor: pointer;
          a {
            font-weight: bold;
          }
        }

        &:not(:last-child) {
          margin-bottom: 2px;
        }

        a {
          font-weight: 400;
          color: #006fe3;
        }


      }

      .active {
        a {
          font-weight: bold;
        }
        background-color: #f1f1f1;
      }
    }
  }
}

.page {
  display: grid;
  grid-template-columns: 260px auto;

}

.content {
  grid-column-start: 2;
  grid-column-end: 2;

  background-color: #ffffff;
  margin: 90px 20px;
  padding: 20px 40px;
}
