div.page {
  display: grid;
  grid-tremplate-rows: 1.5rem auto;

  padding: 2rem;

  h1 {
    grid-row-start: 1;
    vertical-align: middle;
  }
}

.controls {
  padding: 10px 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  & > div{
    margin: 0.75rem 0;
  }
}

.searchbar {
  min-width: 30rem;
}

table {
  margin-top: 1.3rem;
  height: 100%;
  width: calc(100%);

  tr.description {

    height: 70px;

    & > * {
      font-size: 20px;
      color: #717171;
      opacity: 1;
    }
  }

  tr.header {
    height: 40px;
    font-size: 17px;
    color: #717171;
  }

  tr {
    height: 3.1rem;


    &:not(:nth-child(-n + 1)) {
      cursor: pointer;
      border-top: 0.12rem solid #ddd;
    }

    &:not(:first-child) {
      border-bottom: 0.12rem solid #ddd;
    }
  }

  tr:hover {
    background-color: #f5f5f5;
  }

  td, th {
    vertical-align : middle;

    &:first-child {
      padding-left: 1.2rem;
    }

    &:last-child {
      padding-right: 1.2rem;
    }
  }

  tr.no-books {
    cursor: revert !important;
    &:hover {
      background-color: white;
    }
    border: 0;
  }
}

.no-books th {
  vertical-align: baseline;
  padding-right: 1rem;
}

.overdueSelect {
  button#dropdownBasic1 {
    width: 15rem;
  }



  div[ngbDropdownMenu=""] > * {
    padding: 0.45rem 0.75rem;
  }

  div[ngbDropdownMenu=""] > *:hover {
    background-color: rgba(220,220,220,0.5);
  }

  .activeFilter {
    font-weight: 900;
    background-color: rgba(220,220,220,0.45);
  }
}

#createbutton {
  min-width: 10rem;
}

.page-controller {

  li {
    a:not(.disabled) {
      cursor: pointer;
    }

    .active p{
      cursor: hand;
    }
  }

  .page-item.active p {
    min-width: 6rem;
  }
}


.tableAlign {
  vertical-align: middle;
}

.overdue {
  background-color: rgba(250,20,20, 0.1);
}

.returnToday {
  background-color: rgba(210, 255, 0, 0.2);
}

.booksCount {
  font-size: 1.2rem;
}

.books {
  text-align: center;
}
