<div class="page">
  <h1>
    Willkommen, Max Mustermann!
  </h1>

  <input type="text" class="form-control" placeholder="ISBN/Inventar-Nr." #search>

  <table>
    <tr class="description">
      <th colspan="2">
        <p>
          {{ books.length }} {{ books.length > 1 || books.length == 0 ? 'Bücher' : 'Buch' }} gefunden
        </p>
      </th>
      <th colspan="4">
        <input (change)="updateBooks()" ngbButton type="checkbox" [(ngModel)]="behind"/>
        Nur Bücher im Verzug anzeigen
      </th>
    </tr>
    <tr class="header">
      <th style="width: 160px">Inventar-Nr</th>
      <th style="width: 180px">ISBN</th>
      <th style="width: 300px">Titel</th>
      <th style="width: 250px">Autor</th>
      <th style="width: 200px">Verliehen seit</th>
    </tr>
    <tr *ngFor="let book of books" valign="middle" (click)="view(book)">
      <td>
        <p>{{ book.invnr}}</p>
      </td>
      <td>
        <p>{{ book.isbn }}</p>
      </td>
      <td>
        <p>{{ book.title }}</p>
      </td>
      <td>
        <p>{{ book.author }}</p>
      </td>
      <td colspan="2">
        <p *ngIf="book.borrowedOn && !book.returnedOn">{{ book.borrowedOn | date : 'dd.MM.yyyy'}}</p>
        <p *ngIf="!book.borrowedOn || book.returnedOn">-</p>
      </td>
    </tr>
  </table>
</div>
