<div class="page">
  <h1>
    Willkommen, Max Mustermann!
  </h1>

  <table>
    <tr class="description">
      <th colspan="2">
        <p>
          {{ books.length }} {{ books.length > 1 || books.length == 0 ? 'Bücher' : 'Buch' }} gefunden
        </p>
      </th>
      <th colspan="4">
        <input (change)="updateBehind()" ngbButton type="checkbox" [(ngModel)]="behind"/>
        Nur Bücher im Verzug anzeigen
      </th>
    </tr>
    <tr class="header">
      <th>Inventar-Nr</th>
      <th>ISBN</th>
      <th>Titel</th>
      <th>Autor</th>
      <th>Verliehen seit</th>
    </tr>
    <tr *ngFor="let book of books" valign="middle" (click)="view(book)">
      <td style="width: 160px">
        <p>{{ book.invnr}}</p>
      </td>
      <td style="width: 180px">
        <p>{{ book.isbn }}</p>
      </td>
      <td style="width: 300px">
        <p>{{ book.title }}</p>
      </td>
      <td style="width: 250px">
        <p>{{ book.author }}</p>
      </td>
      <td style="width: 200px" colspan="2">
        <p *ngIf="book.borrowedOn">{{ book.borrowedOn | date : 'dd.MM.yyyy'}}</p>
      </td>
    </tr>
  </table>

</div>
