<div class="page">
  <h1 *ngIf="user">
    Willkommen, {{user.firstname}} {{user.lastname}}!
  </h1>

  <p class="booksCount" colspan="5">{{booksCount}} {{(booksCount > 1 || booksCount == 0) ? 'Bücher' : 'Buch'}} gefunden.</p>

  <div class="controls">
    <div class="page-controller">
      <nav>
        <ul class="pagination">
          <li class="page-item" [ngClass]="(first || loading) && 'disabled'">
            <a class="page-link" (click)="back()">Zurück</a>
          </li>
          <li class="page-item active">
            <p class="page-link">{{ pageNo + 1 }} von {{(pagesCount == 0) ? '1' : pagesCount}}</p>
          </li>
          <li class="page-item" [ngClass]="(last || loading)  && 'disabled'">
            <a class="page-link" (click)="next()">Weiter</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="searchbar">
      <input type="text" class="form-control" style="max-width: 500px;" placeholder="Inventar-Nr./ISBN/Titel/Autor" #search [disabled]="searchDisabled">
    </div>

    <div class="overdueSelect">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-secondary" id="dropdownBasic1" ngbDropdownToggle [(ngModel)]="filterText">
          {{ (filterText.toString().length>20)? (filterText | slice:0:25)+'..':(filterText) }}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button [class.activeFilter]="item === filterText" ngbDropdownItem *ngFor="let item of getFilterTypes(); let i = index" (click)="select(i)">
            {{ item }}
          </button>
        </div>
      </div>
    </div>

    <div class="add-book">
      <button type="button" class="btn btn-outline-success" (click)="addBook()">Buch hinzufügen</button>
    </div>
  </div>
  <table class="books">
    <tr class="header no-books">
      <th style="width: 160px">Inventar-Nr</th>
      <th style="width: 180px">ISBN</th>
      <th style="width: 300px">Titel</th>
      <th style="width: 250px">Autor</th>
      <th style="width: 200px">Verliehen seit</th>
    </tr>
    <tr *ngFor="let book of books" class="tableAlign" (click)="view(book)"
        [class.overdue]="book.daysOverdue >= 0 && book.borrowedOn"
        [class.returnToday]="book.daysOverdue == 0 && book.borrowedOn">
      <td>
        <p>{{ book.invnr}}</p>
      </td>
      <td>
        <p>{{ book.isbn }}</p>
      </td>
      <td>
        <p>{{ book.title }}</p>
      </td>
      <td>
        <p>{{ book.author }}</p>
      </td>
      <td colspan="2">
        <p *ngIf="book.borrowedOn && !book.returnedOn">{{ book.borrowedOn | date : 'dd.MM.yyyy'}}</p>
        <p *ngIf="!book.borrowedOn || book.returnedOn">-</p>
      </td>
    </tr>
    <tr *ngIf="books.length == 0" class="no-books">
      <td style="text-align: center" colspan="5">Keine Bücher gefunden</td>
    </tr>
  </table>
</div>
