.left {
  position:absolute;
  height: 100%;
  width: 40%;
  background-color: #A7C407;

  .text {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 40%;
    width: 100%;

    h1 {
      text-align: center;
      font: Bold 6vh/7vh Arial;
      letter-spacing: 0;
      color: #FFFFFF;
      opacity: 1;

      margin-bottom: 100px;
    }

    h2 {
      text-align: center;
      font: Regular 53px/61px Arial;
      color: #FFFFFF;
      width: 50%;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.right {
  position: absolute;
  left: 40%;
  width: 60%;
  height: 100%;
  background-color: white;

  .login {
    position: absolute;
    height: 40%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 16vh;

    input {
      width: 100%;
      margin-bottom: 1.2em;
    }

    button {
      margin-top: 1.2em;
      margin-bottom: 1.2em;
    }
  }
}

