<div class="left">
  <div class="text">
    <h1>Willkommen!</h1>
    <h2>Bitte melden Sie sich mit Ihren Daten in der digitalen Bibliothek der Grundschule auf der Höhe an</h2>
  </div>
</div>

<div class="right">

  <div class="login">

    <span>
      <input name="username" type="text" class="form-control" placeholder="Nutzername..." [(ngModel)]="credentials.username"/>
    </span>
    <span>
      <input name="password" type="password" class="form-control" placeholder="Passwort..." [(ngModel)]="credentials.password"/>
    </span>

    <button type="button" class="btn btn-outline-success" (click)="login()">Anmelden</button>

    <ngb-alert *ngIf="error" [dismissible]="false" [type]="'danger'">{{error}}</ngb-alert>
  </div>

</div>
