
table {
  height: 100%;
  width: calc(100%);

  tr.description {

    height: 70px;

    & > * {
      font-size: 20px;
      color: #717171;
      opacity: 1;
    }
  }

  tr.header {
    height: 40px;
    font-size: 17px;
    color: #717171;
  }

  tr {
    height: 3.1em;

    &:not(.header) {
      cursor: pointer;
      border-top: 0.12em solid #ddd;
      border-bottom: 0.12em solid #ddd;

      &:hover {
        background-color: #f5f5f5;
      }

    }
  }

  td, th {
    vertical-align : middle;

    &:first-child {
      padding-left: 1.2em;
    }

    &:last-child {
      padding-right: 1.2em;
    }
  }
}

table {
  margin-top: 1.3em;
}


.table-actions {
  & > * {
    height: 3em;
    padding-bottom: 1.25em;
    padding-right: 1.25em;
    float: left;
  }

  .pagecontroller {
    li {
      a:not(.disabled) {
        cursor: pointer;
      }

      .active p{
        cursor: hand;
      }
    }
  }

}

.tableAlign {
  vertical-align: middle;
}
