#fileUpload {
  display: none;
}

body {
  background-color: white;
}

.ng-button {
  display: table-cell;
  vertical-align: middle;
}

.ng-button button {
  display: table-cell;
}

#delimiter {
  text-align: center;
  font-size: 1rem;
}

#output {
  border-radius: 0.8rem;
  resize: none;
}

#encoding {
  margin-right: 0.5em;
}

.progress {
  width: 20em;
}

section {
  display: table;
  margin: 0.5em;
  border-spacing: 1rem;
}

#dnd-div {
  border-color: grey;
  border-width: 0.07rem;
  max-width: 75rem;
  border-radius: 0.5rem;
  border-style: dashed;
  margin-bottom: 1em;
}

.dnd-list {
  max-width: 100%;
  border: solid 0.07rem #ccc;
  min-height: 3.5em;
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 0.3rem;
  overflow: hidden;
  margin: 0.3em;
}

.dnd-box {
  padding: 1em 0.7em;
  border-right: solid 0.05rem #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 1rem;
  flex-grow: 1;
  flex-basis: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 0.3rem;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.dnd-box:last-child {
  border: none;
}

.dnd-list.cdk-drop-list-dragging .dnd-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
