<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <div class="form-group">
<!--    <form method="POST" enctype="multipart/form-data" action="http://localhost:8080/api/books/import">-->
<!--      <input type="file" name="file" />-->
<!--      <input type="submit" value="Upload" />-->
<!--    </form>-->
    <input type="file"
           #fileUpload
           id="fileUpload"
           name="fileUpload"
           multiple="multiple" >
  </div>
  <button type="button" (click)="onClick()">Upload starten!</button>

</body>
</html>
