<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <h1>Format:</h1>
  <div id="dnd-div">
    <div cdkDropList cdkDropListOrientation="horizontal" class="dnd-list" (cdkDropListDropped)="drop($event)">
      <div class="dnd-box" *ngFor="let column of columns" cdkDrag>{{column}}</div>
    </div>
  </div>
  <div class="form-group">
    <input type="file"
           #fileUpload
           id="fileUpload"
           name="fileUpload"
           multiple="multiple">
    <section>
      <input type="checkbox" name="encoding" id="encoding" [(ngModel)]="utf8">
      <label for="encoding">UTF-8 statt ANSI benutzen</label>
    </section>
    <label for="delimiter">Trennzeichen:</label>
    <section>
      <input class="form-control" id="delimiter" name="delimiter" [(ngModel)]="delimiter" maxlength="1" placeholder="|" size="1">
      <div class="ng-button">
        <button class="btn btn-outline-primary" type="button" (click)="startUpload()">Hochladen!</button>
      </div>
      <div *ngIf="progress != undefined" class="progress">
        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" [style.width.%]="progress"
             class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar">
          {{progress}}%
        </div>
      </div>
    </section>
    <hr/>
    <label for="path">Lokaler Ordner:</label>
    <section>
      <input class="form-control" id="path" name="path" [(ngModel)]="path" placeholder="./importfolder/">
      <div class="ng-button">
        <button class="btn btn-outline-primary" type="button" (click)="startLocal()">Lokaler Import</button>
      </div>
    </section>
    <div *ngIf='result != ""'>
      <hr/>
      <label for="output">Status:</label>
      <section>
        <textarea id="output" readonly rows="15" cols="120">{{result}}</textarea>
      </section>
    </div>
  </div>
</body>
</html>
