<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <h1>Format:</h1>
  <div id="dnd-div">
    <div cdkDropList cdkDropListOrientation="horizontal" class="dnd-list" (cdkDropListDropped)="drop($event)">
      <div class="dnd-box" *ngFor="let column of columns" cdkDrag>{{column}}</div>
    </div>
  </div>
  <div class="form-group">
    <input type="file"
           #fileUpload
           id="fileUpload"
           name="fileUpload"
           multiple="multiple" >
    <p>Trennzeichen:</p>
    <textarea id="delimiter" name="delimiter" [(ngModel)]="delimiter" maxlength="1" cols="2">|</textarea>
    <section>
      <div class="ng-button">
        <button class="button" type="button" (click)="onClick()">Hochladen!</button>
      </div>
    </section>
    <section>
      <div class="ng-button">
        <button class="button" type="button" (click)="onClick2()">Lokaler Import</button>
      </div>
    </section>
  </div>
</body>
</html>
